.portfolio-cards {
  position: relative;
  overflow: hidden;
}

.portfolio-cards__paragraph {
  position: absolute;
  @include font(400, 18px, 1.56);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  top: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.portfolio-cards__box {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-cards__title {
  @include font(700, 18px, 2);
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 4px;
}

.portfolio-cards__text {
  @include font(400, 16px, 1.87);
  color: var(--primary-text-color);
}
