:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --primary-bgr-color: #ffffff;
  --secondary-bgr-color: #2f303a;
  --third-bgr-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-logo-color: #ffffff;
  --secondary-logo-color: #000000;
  --secondary-btn-color: #212121;
  --primary-btn-color: #ffffff;
  --bgr-btn-color: #f5f4fa;
}
